.Header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #ab2a19; 
  z-index: 2;
}
.Header > img {
  width: 50px;
  position: absolute;
  top: 25px;
  left: 75px;
}
.Header > h1 {
  position: absolute;
  top: 35px;
  left: 150px;
  font-weight: 700;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}