.Product {
  width: 350px;
  padding: 15px;
  border-radius: 7px;
  background-color: #d34735;
}
.Product > * {
  margin: 10px 0;
}
.product_img {
  width: 320px;
  height: 200px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}
.product_box {
  display: flex;
  justify-content: space-between;
}
.product_title {
  font-size: 24px;
}
.product_price {
  font-size: 20px;
}

@media (min-width: 500px) {
  .Product {
    width: 450px;
  }
}
@media (min-width: 830px) {
  .Product {
    width: 350px;
  }
}
@media (min-width: 1000px) {
  .Product {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .Product {
    width: 600px;
    position: relative;
  }
  .product_img {
    margin: 0;
  }
  .product_box {
    height: 50px;
    position: absolute;
    top: 5px;
    left: 350px;
    flex-direction: column;
  }
}